.menu {
  .custom-shadow {
    box-shadow: 0 0px 10px #252525;
  }

  nav {
    transition: all 0.7s ease;
    
    .navbar-toggler, 
    .dropdown button {
      &:focus, 
      &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .nav-item {
      font-size: 14px;
      text-align: left;
      cursor: pointer;

      span {
        user-select: none;
      }
    }

    .dropdown {
      button {
        background-color: rgba(0,0,0,0);
        border: none;
        color: $custom-white;

        img {
          height: 20px;
          width: 20px;
        }
      }
      .dropdown-menu .dropdown-item {
        color: $custom-black;
        padding: 5px;

        &:active {
          background-color: rgba(0,0,0,0);
        }
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}