.contact {
  padding: 10px;

  .row {
    .message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label,
      button {
        font-size: 18px;
      }

      input, 
      textarea {
        width: 100%;
        padding: 10px;
        resize: none;
        border: 1px solid #CCC;
        border-radius: 3px;
        font-size: 16px;

        &:focus,
        &:active {
          outline-color: rgba($color: $custom-green, $alpha: 0.5);
        }
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      i {
        font-size: 28px;
        color: $custom-black;
        margin-right: 5px;
        transition: all 0.3s;

        &:hover {
          color: $custom-green;
        }
      }
      
      .mail, .address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: default;
        font-size: 18px;
        text-align: start;

        i.mdi-content-copy {
          font-size: 18px;
        }
      }
    }
    @media(max-width: 767px) {
      .social {
        margin-top: 30px;
      }
    }
  }

  p {
    a {
      color: $custom-green;
    }
  }
}