.custom-card {
  padding: 20px 20px;
  
  .content {
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba($color: $custom-black, $alpha: 0.4);
    border-radius: 3px;

    .header {
      padding-top: 10px;
      &::after { 
        content: "";
        display: block;
        width: 70px;
        height: 1px;
        margin: 5px auto;
        background-color: #343a40;
      }
    }
    .body {
      padding: 10px;
    }
  }
}